<!-- <link rel="stylesheet" href="./layui.css"> -->
<link rel="stylesheet" href="//unpkg.com/layui@2.7.6/dist/css/layui.css">
<div class="mceTmpl">
  <div class="layui-container">  
    <div class="layui-row" style="margin-bottom: 20px;">
      <div class="layui-col-md6">
        <div class="title">控件ID</div>
        <input
          id="controlId"
          type="text"
          placeholder="必填项"
          autocomplete="off"
          class="layui-input"
        >
      </div>
      <div class="layui-col-md6">
        <div class="title">描述</div>
        <input
          id="controlDesc"
          type="text"
          placeholder="必填项"
          autocomplete="off"
          class="layui-input"
        >
      </div>
    </div>
    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">固定值</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">值</label>
        <div class="layui-input-inline" style="width: 100px;">
          <input id="key" type="text" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-inline" style="width: 100px;">
          <input id="value" type="text" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-inline">
        <button id="add" type="button" class="layui-btn layui-btn-sm">
          添加
        </button>
      </div>
    </div>
  </div>
  <div style="display: flex;justify-content: flex-end;">
    <button id="sure" type="button" class="layui-btn layui-btn-sm">
      确定
    </button>
    <button id="cancel" type="button" class="layui-btn layui-btn-sm">
      取消
    </button>
  </div>
</div>
<!-- <script src="./jquery.js"></script>
<script src="./layui.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="//unpkg.com/layui@2.7.6/dist/layui.js"></script>
<script>
  let data = [];
  $(document).ready(function(){
    $('#add').click(function(){
      let key = $('#key').val();
      let value = $('#value').val();
      data.push({
        key: key,
        value: value,
      });
      let html = ``;
      data.forEach((item, index)=>{
        html += `<div>${item.key}  ${item.value} 
          <img 
            style="cursor: pointer;" data-index="${index}" 
            src="./images/delete.png" class="control-item" />
        </div>`;
      });
      $('#key').val('');
      $('#value').val('');
      $('.layui-show').html(html);
    });
    $('body').on('click', '.control-item', function() {
      let index = $(this).data('index');
      data.splice(index, 1);
      let html = ``;
      data.forEach((item, index)=>{
        html += `<div>${item.key}  ${item.value} <img style="cursor: pointer;" data-index="${index}" src="./images/delete.png" class="control-item" /></div>`;
      });
      $('.layui-show').html(html);
    });
    $('#sure').click(function(){
      let id = $('#controlId').val();
      let desc = $('#controlDesc').val();
      let str = ``;
      str += `<div style="display:flex; align-items: center;" id="${id}"><label style="color: blue">[</label>`;
      data.forEach(item=>{
        str+=`<div><input type="checkbox" name="${id}" data-value="${item.key}" />${item.value}</div>`;
      })
      str += `<label style="color: blue">]</label><label style="color: red">.</label></div>`;
      if (!id) {
        alert('控件ID必填')
        return;
      }
      window.parent.tinyMCE.activeEditor.insertContent(str);
      window.parent.document.getElementsByClassName('tox-dialog-wrap')[0].remove();
      window.parent.document.getElementsByClassName('tox-dialog')[0].remove();
    });
    $('#cancel').click(function(){
      window.parent.document.getElementsByClassName('tox-dialog-wrap')[0].remove();
      window.parent.document.getElementsByClassName('tox-dialog')[0].remove();
    });
  });
</script>
<style>
  .title {
    height: 40px;
    line-height: 40px;
    background: #f9f9f9;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    text-indent: 20px;
  }
</style>