<link rel="stylesheet" href="./layui.css">
<div class="mceTmpl">
  <div class="layui-container">  
    <div class="layui-row" style="margin-bottom: 20px;">
      <div class="layui-col-md6">
        <div class="title">控件ID</div>
        <input
          id="controlId"
          type="text"
          placeholder="必填项"
          autocomplete="off"
          class="layui-input"
        >
      </div>
      <div class="layui-col-md6">
        <div class="title">描述</div>
        <input
          id="controlDesc"
          type="text"
          placeholder=""
          autocomplete="off"
          class="layui-input"
        >
      </div>
    </div>
    <div class="layui-row" style="margin-bottom: 20px;">
      <div class="layui-col-md6">
        <div class="title">控件内容</div>
        <input
          id="content"
          type="text"
          placeholder=""
          autocomplete="off"
          class="layui-input"
        >
      </div>
    </div>
  </div>
  <div style="display: flex;justify-content: flex-end;">
    <button id="sure" type="button" class="layui-btn layui-btn-sm">
      确定
    </button>
    <button id="cancel" type="button" class="layui-btn layui-btn-sm">
      取消
    </button>
  </div>
</div>
<script src="./jquery.js"></script>
<script src="./layui.js"></script>
<script>
  let data = [];
  $(document).ready(function(){
    // window.parent.document.getElementsByClassName('tox-dialog__footer')[0].setAttribute('style', 'display: none');
    $('#add').click(function(){
      let key = $('#key').val();
      let value = $('#value').val();
      let html = `<div>${key}  ${value}</div>`;
      data.push({
        key: key,
        value: value,
      });
      $('.layui-show').append(html);
      $('#key').val('');
      $('#value').val('');
    });
    $('#sure').click(function(){
      let id = $('#controlId').val();
      let desc = $('#controlDesc').val();
      let content = $('#content').val();
      let str = ``;
      str += `<div style="display:flex" id="${id}"><label>${desc}</label><p style="margin:0">${content}</p></div>`;
      if (!id) {
        alert('控件ID必填')
        return;
      }
      window.parent.tinyMCE.activeEditor.insertContent(str);
      window.parent.document.getElementsByClassName('tox-dialog-wrap')[0].remove();
      window.parent.document.getElementsByClassName('tox-dialog')[0].remove();
    });
    $('#cancel').click(function(){
      window.parent.document.getElementsByClassName('tox-dialog-wrap')[0].remove();
      window.parent.document.getElementsByClassName('tox-dialog')[0].remove();
    });
  });
</script>
<style>
  .title {
    height: 40px;
    line-height: 40px;
    background: #f9f9f9;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    text-indent: 20px;
  }
</style>